body{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.langa {
  color: white;
}

.navbar ul{
  list-style: none;
    text-align: center;
    margin-top: -150px;
    background: black;
}
.navbar ul li{
  display: inline-grid;
}
.navbar ul li a{
  text-decoration: none;
  color:white;
  padding: 10px;
}
.logo img{
  height: 80px;
  padding-top: 10px;
  margin-top: 60px
}
/* .navbar{ 
  background-color: blue;
  background-size: cover;
  height: 800px;
}
*/

.intro{
  background-image: url("life.png");
  background-size: cover;
  background-color: #f4b847;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;
  text-align: center;
  margin-top: 120px;
}
.intro h2{
  font-size: 40px;
  color: #f4b847;
}
.team h2{
  text-align: center;
  font-size: 35px;
}
.team{
  text-align: center;
  padding: 2px;
  margin-bottom: : 40px;
}
.team{

  grid-column-gap: 40px;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 10px;

}

a:hover{
  background-color: #f4b847;
}
.content{
  display:inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  margin-top: 50px;
  padding-left: 200px;
  padding-right: 50px;
}
.kids{
  display:inline-grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  margin-top: 50px;
  padding-left: 200px;
  padding-right: 50px;
}
